# dependencies
**/node_modules/

# secrets
secrets/*
!secrets/README.md

# test coverage
**/coverage/*
!**/coverage/README.md
packages/**/lcov.info

# Typescript compilation output files for libraries and applications
apps/**/dist/
apps/**/tsconfig.tsbuildinfo
packages/**/lib/
packages/**/dist/
packages/**/_site/
packages/**/tsconfig.tsbuildinfo

# Turbo
.turbo

# Build Outputs
.next/
out/
build
dist

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml

assets/syndication/*
!assets/syndication/README.md