<header>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/micropub">Micropub</a></li>
    <li><a href="/micropub?q=config">Micropub configuration (JSON)</a></li>
    <li><a href="/micropub/config">Micropub configuration (HTML)</a></li>
  </ul>
</header>
