{% extends "base.njk" %}

{% block content %}
<div>
  <p class="success">{{ summary }}</p>

  {% if payload %}
  <pre>
    <code id="success-payload">{{ payload | dump(2) }}</code>
  </pre>
  {% endif %}

</div>
{% endblock %}
